<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-info-sign"></span> About</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-2">Developed by:</div>
                <div class="col-md-10"><a href="http://www.samueldereb.com" target="_blank">Samuel Dereb</a></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">Linkedin:</div>
                <div class="col-md-10"><a href="http://www.linkedin.com/in/samuel-dereb" target="_blank">https://www.linkedin.com/in/samuel-dereb</a></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">GitHub:</div>
                <div class="col-md-10"><a href="https://github.com/samwalker7/Order-Managment-System" target="_blank">https://github.com/samwalker7/Order-Managment-System</a></div>
            </div>
            <br />
        </div>
    </div>
</div>
